* {
}
body {
  text-align: center;
  background-image: url("snake game.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #111;
  /* z-index: -1; */
}

main {
  margin-top: 15%;
  margin-bottom: 15%;
}

.footer {
  color: #111;
}
